#contact-book-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.contacts-title {
  font-size: 3rem;
}

#search-button {
  width: 8rem;
  height: 3.2rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 1rem;
}

#search-field {
  width: 25rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
}

#contact-search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#new-and-edit-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#new-and-edit-buttons button {
  width: 10rem;
  height: 2rem;
  font-size: medium;
  margin: 20px;
}
